<div class="page-header">
    <h1>Hello, Reader!</h1>
    Enter a Question: <input type=text name="Que"></input>
    <button href='#' id=submit type="submit">Submit</button>

</div>

<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(
    function()
    {
        $('#submit').bind('click',
        function()
            {
              $.getJSON
              ( $SCRIPT_ROOT + '/sendQuestion',
                  {
                    question: $('input[name="Que"]').val(),
                  }
              );

              return false;
            }
        );
    }
    );
</script>
